* {
  box-sizing: border-box;
}
body {
  background: url(../image/taverne.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

header {
  background-color: rgba(90, 43, 9, 0.781);
  border-bottom: double 6px white;
  padding-bottom: 1vh;
}
h1 {
  text-align: center;
  color: white;
  font-size: 35px;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 25px;
}
.connection {
  width: 15%;
}
.alignement_connection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.Titre {
  width: 100%;
  text-align: center;
  margin-left: 7%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}
#menu_jeu {
  background-color: rgba(90, 43, 9, 0.781);
  border-bottom: double 6px white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-footer img {
  width: 50px;
  height: 50px;
  margin-left: 2rem;
}
.logo-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}
.join {
  text-align: center;
  font-size: 20px;
  color: white;
  font-style: italic;
}

#chest-position {
  width: 17%;
}
#button-chest {
  width: 100%;
  height: 5vh;
  background: url(../image/chest.png) center no-repeat;
  background-size: 12vh;
}
#inventory {
  width: 34vh;
  position: absolute;
  z-index: 1;
}

#zone_text {
  height: 40vh;
  background-color: white;
  overflow: scroll;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  scroll-behavior: auto;
}
#writting-zone,
#envoi_text {
  width: 100%;
}
.regroup_button {
  width: 40%;
  height: 25px;
  border: solid black 2px;
  display: flex;
  justify-content: space-between;
}
.regroup_button2 {
  width: 50%;
  display: none;
}
.value {
  width: 50%;
}
.item {
  width: 60%;
  overflow-wrap: break-word;
}
.counter {
  width: 90%;
  text-align: right;
}

#dice {
  width: 17%;
  display: flex;
  flex-direction: column;
}
#diceButton {
  width: 100%;
  height: 5vh;
  background: url(../image/dice.png) center no-repeat;
  background-size: 12vh;
}
#diceOptions {
  margin-top: 5vh;
  width: 17%;
  position: absolute;
  height: 30vh;
  background-color: white;
  border: 3px solid black;
}
#diceValidationPosition {
  display: flex;
  flex-direction: column-reverse;
  height: 26vh;
}
input[name="diceJet"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
input:checked {
  border: 6px solid black;
}
button:focus {
  color: #999;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

.ligne {
  display: flex;
  flex-direction: row;
}
i {
  cursor: pointer;
  color: rgb(136, 33, 33);
  margin-left: 5px;
}
.zone-jeu {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.regroup-zone {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.zone-dragdrop {
  width: 80%;
  background: white;
}

#zone-objet {
  width: 20%;
  background-color: rgba(90, 43, 9, 0.781);
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.zone-tchat {
  width: 20%;
  text-align: left;
}
.tchat {
  border: solid rgba(0, 0, 0, 0.966) 5px;
  width: 100%;
  height: 74vh;
  background-color: white;
  overflow-wrap: break-word;
  overflow: scroll;
  display: flex;
  background-color: rgba(90, 43, 9, 0.781);
  color: white;
  padding-right: 2%;
}
#message,
#messages {
  width: 100%;
}
#button-chat {
  width: 100%;
}
ul {
  list-style-type: none;
  padding-inline-start: 2px;
}
#account {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  background-color: rgba(90, 43, 9, 0.781);
  color: white;
  border-bottom: double 6px white;
  border-left: double 6px white;
  padding: 2px 10px 4px 10px;
}
#account_options {
  width: 12%;
  position: absolute;
}
.user_options {
  display: block;
  width: 100%;
  background-color: rgba(90, 43, 9, 0.781);
  color: white;
}
.objet {
  width: 50%;
}
#zone-objet img {
  position: absolute;
}

.draggable:hover {
  cursor: move;
}
.avertissement {
  width: 50%;
  background-color: rgba(90, 43, 9, 0.781);
  border: double 6px white;
  padding-bottom: 1vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avertissementPosition {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}
.globalMsg {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pseudoContainer {
  font-weight: bold;
}
.styleResultatDé {
  font-size: 30px;
  color: brown;
}
.déResultatPosition {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}
